<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Hola, esta es la pagina de administrador.</h3>
    <p>Donde podras hacer las siguientes acciones.</p>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/prueba">Prueba</a></li>
        <li><a href="/destacados">Destacados</a></li>
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/novedades">Novedades</a></li>
        <li><a href="/productos">Productos</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
