.contenedor {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

div {
    width: 200px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rojo {
    background-color: red;
}

.azul {
    background-color: blue;
}

.verde {
    background-color: green;
}